body{
  font-family: 'Inconsolata', monospace;
  background: url('https://newsroom.siliconslopes.com/content/images/2018/10/code.jpg');
  height: 100vh;
}

#wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
#linear-gradient{
  background: linear-gradient(to top right, #070261, #CECCF4);
}
.vcard{

}
.photo-info{
  display: flex;
}
.photo{
  border:1px solid black;
  border-radius: 50%;
}
.info{
  padding-left: 50pt;
  font-size: 20pt;
}
.Nom{
  font-size: 50pt;
}
.Texte{
  padding-top: 15pt;
  text-align: right;
  padding-right: 10px;
  font-size: 12pt;
}
.bouton{
  padding-top: 15pt;
  text-align: center;
  padding-bottom: 15pt;
}
.contact{
  text-align: right;
  padding-right: 50pt;
  font-size: 12pt;
  padding-top: 15pt;
  padding-bottom: 15pt;
}
